   a:link{ 
    text-decoration: none; 
    color: gray; 
   }
   a:visited{ 
    text-decoration: none; 
    color: rgb(163, 163, 163); 
   } 
   a:hover{ 
    text-decoration: none; 
    color: green;
    font-weight: bolder;
    letter-spacing: 5px; 
   }   